.wrap {
  border-radius: 16rem;
  border: 1rem solid var(--base-border-color);
  background-color: var(--white);
  transition-duration: 0.3s;
  width: 100%;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.wrap:hover {
  border-color: var(--secondary-border-color);
}

.wrap:focus-within {
  border-color: var(--text-base);
}

.wrap.error {
  border-color: var(--red);
}

.wrap.disabled {
  pointer-events: none;
}

.l {
  padding: 16rem;
}

.m {
  padding: 12rem;
}

.s {
  padding: 10rem 12rem;
}

.xs {
  padding: 8rem;
}

.input {
  flex-grow: 1;
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  color: var(--text-base);
  font-family: inherit;
  max-width: 100%;
}

.textarea {
  resize: none;
}

.input::placeholder {
  color: var(--tritiary);
}

/* Скрывает встроенные иконки браузера для password-полей */
.input[type="password"]::-webkit-credentials-auto-fill-button,
.input[type="password"]::-ms-reveal {
  display: none;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon > * {
  stroke: #54636d;
}

.xs .icon {
  margin: 1rem 8rem 1rem 0;
  width: 16rem;
  min-width: 16rem;
  height: 16rem;
}

.s .icon {
  margin: 1rem 8rem 1rem 0;
  width: 18rem;
  min-width: 18rem;
  height: 18rem;
}

.m .icon {
  margin: 2rem 8rem 2rem 0;
  width: 20rem;
  min-width: 20rem;
  height: 20rem;
}

.l .icon {
  margin: 2rem 14rem 2rem 0;
  width: 24rem;
  min-width: 24rem;
  height: 24rem;
}

.requiredSymbol {
  color: var(--primary-color);
  font-size: 14rem;
  line-height: calc(20 / 14);
}

.error {
  color: var(--red);
}

.clearBtnWrap {
  width: 40rem;
  min-width: 40rem;
  padding-left: 16rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.clearBtn {
  background-color: transparent;
  border: none;
  width: 16rem;
  height: 16rem;
  position: relative;
}

.clearBtn > * {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.eyeComponent {
  width: 24rem !important;
  height: 24rem !important;
}

.clearBtn svg > * {
  stroke: var(--text-secondary);
}

.disable {
  pointer-events: none;
  opacity: 0.7;
}
