.block {
  display: block;
  background-color: var(--white);
  border-radius: 20rem;
  padding: 6rem;
}

.wrap {
  border-radius: 18rem;
  border: 1rem solid var(--base-border-color);
  background:
    linear-gradient(180deg, rgba(35, 35, 35, 0.03) 0%, rgba(35, 35, 35, 0) 50%),
    var(--white);
  padding: 20rem 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24rem;
}

.logo {
  width: 52rem;
  height: 52rem;
  position: relative;
}
.logo > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.titleWrap > * {
  text-align: center;
}

.createLogin {
  text-align: center;
  margin-top: auto;
}

@media screen and (min-width: 992px) {
  .block {
    border-radius: 40rem;
  }
  .wrap {
    border-radius: 34rem;
    padding: 44rem 60rem;
    gap: 32rem;
  }
}
