:root {
  --text-base: #000000;
  --text-secondary: #B2B3B9;
  --bg-overlay: rgba(0, 0, 0, 0.2);
  --primary-color: #242EDB;
  --primary-hover: #1d25c5;
  --primary-border-color: #367AFF;
  --tritiary: #8f9fa9;
  --secondary: #f5f9fb;
  --base-bg-color: #F6F6F6;
  --white: #ffffff;
  --base-border-color: #EDEDED;
  --text-xl-size: 18rem;
  --text-l-size: 16rem;
  --text-m-size: 14rem;
  --text-s-size: 12rem;
  --text-xs-size: 10rem;
  --h1-size: 28rem;
  --h2-size: 28rem;
  --h3-size: 24rem;
  --h4-size: 18rem;
  --text-xl-lh: calc(26 / 18);
  --text-l-lh: calc(24 / 16);
  --text-m-lh: calc(20 / 14);
  --text-s-lh: calc(16 / 12);
  --text-xs-lh: calc(14 / 10);
  --h1-lh: calc(48 / 44);
  --h2-lh: calc(44 / 40);
  --h3-lh: calc(36 / 32);
  --h4-lh: calc(26 / 22);
  --vh: 1vh;
  --vw: 1vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

html {
  font-size: calc((1 / 375) * 100vw);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
}

@media screen and (min-width: 1440.1px) {
  html {
    font-size: 1px !important;
  }
}


@media screen and (min-width: 992px) {
  :root {
    --h1-size: 44rem;
    --h2-size: 40rem;
    --h3-size: 32rem;
    --h4-size: 22rem;
  }

  html {
    font-size: calc((1 / 1440) * 100vw);
  }
}

.body {
  color: var(--text-base);
  margin: 0;
  background-color: var(--base-bg-color);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-base {
  color: var(--text-base);
}

.text-primary {
  color: var(--primary-color);
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}


.text-xl,
.text-xl-semi {
  font-size: var(--text-xl-size);
  line-height: var(--text-xl-lh);
  letter-spacing: -0.045rem;
}

.text-l,
.text-l-semi {
  font-size: var(--text-l-size);
  line-height: var(--text-l-lh);
}

.text-m,
.text-m-semi {
  font-size: var(--text-m-size);
  line-height: var(--text-m-lh);
}

.text-s,
.text-s-semi {
  font-size: var(--text-s-size);
  line-height: var(--text-s-lh);
}

.text-xs,
.text-xs-semi {
  font-size: var(--text-xs-size);
  line-height: var(--text-xs-lh);
}

.text-xl,
.text-l,
.text-m,
.text-s,
.text-xs {
  font-weight: 500;
}

.text-xl-semi,
.text-l-semi,
.text-m-semi,
.text-s-semi,
.text-xs-semi {
  font-weight: 700;
}

.text-semi {
  font-weight: 700 !important;
}

.h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-lh);
  font-weight: 700;
}

.h2 {
  font-weight: 700;
  font-size: var(--h2-size);
  line-height: var(--h2-lh);
}

.h3 {
  font-weight: 700;
  font-size: var(--h3-size);
  line-height: var(--h3-lh);
}

.h4 {
  font-size: var(--h4-size);
  line-height: var(--h4-lh);
  font-weight: 700;
  letter-spacing: -0.44rem;
}

.h5 {
  font-size: var(--text-l-size);
  line-height: var(--text-l-lh);
  font-weight: 700;
}

@media screen and (max-width:991.9px) {

  .text-xl-mob,
  .text-xl-semi-mob {
    font-size: var(--text-xl-size) !important;
    line-height: var(--text-xl-lh) !important;
  }

  .text-l-mob,
  .text-l-semi-mob {
    font-size: var(--text-l-size) !important;
    line-height: var(--text-l-lh) !important;
  }

  .text-m-mob,
  .text-m-semi-mob {
    font-size: var(--text-m-size) !important;
    line-height: var(--text-m-lh) !important;
  }

  .text-s-mob,
  .text-s-semi-mob {
    font-size: var(--text-s-size) !important;
    line-height: var(--text-s-lh) !important;
  }

  .text-xs-mob,
  .text-xs-semi-mob {
    font-size: var(--text-xs-size) !important;
    line-height: var(--text-xs-lh) !important;
  }

  .h1-mob {
    font-size: var(--h1-size) !important;
  }

  .h2-mob {
    font-size: var(--h2-size) !important;
  }

  .h3-mob {
    font-size: var(--h3-size) !important;
  }

  .h4-mob {
    font-size: var(--h4-size) !important;
  }

  .h5-mob {
    font-size: var(--text-l-size) !important;
  }
}