.notification {
  --icon-size: 12rem;
  position: fixed;
  top: 32rem;
  width: 360rem;
  z-index: 2000;
  padding: 16rem 12rem 12rem 16rem;
  background: var(--primary-color);
  display: none;
  opacity: 0;
  justify-content: space-between;
  align-items: center;
  gap: 12rem;
  border-radius: 16rem;
  transition-duration: 0.2s;
}

.notification--active {
  display: flex !important;
  align-items: flex-start;
}

.notification--visible {
  opacity: 1 !important;
}

.left-row {
  display: flex;
  gap: 12rem;
  align-items: flex-start;
}

.closeBtn,
.notificationIcon {
  margin-bottom: 4rem;
  position: relative;
  width: 20rem;
  min-width: 20rem;
  height: 20rem;
}

.notificationDescription {
  margin-top: 4rem;
  padding-bottom: 4rem;
  color: var(--white-84);
}

.closeBtn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--icon-size);
  height: var(--icon-size);
  min-width: var(--icon-size);
}

.notificationIcon svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.notificationTitle {
  color: var(--white);
}

.notificationDescription a {
  color: var(--background-brand-hover);
  text-decoration: underline;
}

@media screen and (min-width:992px) {
  .notification {
    right: 16rem;
  }
}

@media screen and (max-width: 991.9px) {
  .notification {
    left: 16rem;
    width: calc(100% - 32rem);
  }
}